html {
    scroll-padding-top: 9rem; 
  }
  

/* body */
body {
    background-image: url(background\ picture.jpg);
    background-repeat: repeat;
    background-position: center;
    background-attachment: fixed;
}

/* nav bar */
.fade-bg {
    background: linear-gradient(to right, #1c4d4f, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
}

.fade-vertical {
    background: linear-gradient(to bottom, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
}

.dropdown-item:hover {
    background-color: whitesmoke !important;
    color: #286e6b !important;
}

@media screen and (max-width:991px) {
    .dropdown-item:hover {

        background-color: whitesmoke !important;
        color: #286e6b !important;
    }
}

.nav-link {
    font-family: cambria, roboto !important;
    transition: transform 0.3s ease;
}

.nav-link:hover {
    transform: translateX(+5px);
    color: #23ccd7 !important;
}

.btn-outline-success {
    background: linear-gradient(to bottom, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
    color: whitesmoke;
    transition: transform 0.3s ease;
    font-family: cambria, roboto !important;
}

.btn-outline-success:hover {
    background: linear-gradient(to left, #1c4d4f, #1c4d4f, #286e6b, #078b77, #09a197);
    transform: translateX(-10px);
    color: #23ccd7;
}

section {
    background: linear-gradient(to right, #1c4d4f, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197);
}

/* learn more button effect  */
.head{
    font-family: cambria, roboto
}

.lrnBtn {
    display: inline-block;
    font-size: 16px ;
    margin: 3px;
    padding: 0px;
    font-size: 16px;
    
}

.bi-chevron-right {
    background: linear-gradient(to right, #1c4d4f, #286e6b, #078b77, #09a197);
    border-radius: 50%;
    padding: 6px;
    display: inline-block;
    transition: all 0.3s ease; 
    color: white;
   
}

.bi-chevron-right:hover {

    width: 125px;
    border-radius: 10px;
    font-size: 16px;
    color: white;
}


/* carousel responsiveness */
.carousel-img {
    max-height: 48rem;
    object-fit: cover;
}

@media (max-width: 960px) {
    .carousel-img {
        height: 550px;
    }
}
 /* indiviual cards */
 .event-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 20px;
    cursor: pointer;
    flex-wrap: wrap;
  }
  
  .event-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(28, 77, 79, 0.4),
      rgba(28, 77, 79, 0.4),
      rgba(21, 107, 110, 0.4),
      rgba(40, 110, 107, 0.4),
      rgba(7, 139, 119, 0.4),
      rgba(9, 161, 151, 0.4)
    );
    z-index: 0;
    transition: width 0.5s ease;
    border-radius: 10px;
  }
  
  .event-card:hover::before {
    width: 100%;
  }
  
  .event-card > * {
    position: relative;
    z-index: 1;
  }
  
  
 
/* footer */
footer {
    background: linear-gradient(to right, #1c4d4f, #1c4d4f, #1c4d4f, #156b6e, #286e6b, #078b77, #09a197) !important;
    position: sticky;
}